button.cta {
  display: block;
  margin: 0 auto;
  width: 358px;
  height: 82px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 30px;
  font-weight: 590;
  font-size: 32px;
  text-align: center;
  /* move the button 72 pixel above the bottom of the viewport */
  position: fixed;
  bottom: 72px;
}
