:root {
  --font-sans: var(--font-inter), sans-serif;
  --color-black: #141414;
  --color-white: #ffffff;
  --color-compost: #00C774;
  --color-recycle: #2A88EC;
  --font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 36px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.125rem;
  font-family: var(--font-family);
}

@media (max-width: 700px) {
  body {
    margin: 40px 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  font-size: 1.125rem;
}

h1#title {
  margin-top: 150px;
  font-weight: 400;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.375em 0;
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  content: '>';
  margin-left: -2em;
}

ul ul > li::before {
  content: '>>';
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

input {
  padding: 0.5em;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

button > img {
  pointer-events: none;
}

#loading-bar {
  width: 100%;
  height: 10px;
  background-color: #b2b2b2;
  border-radius: 10px;
  overflow: hidden;
}

#bar {
  width: 50%;
  height: 100%;
  background-color: #000;
}

#bar.recycle {
  background-color: var(--color-recycle);
}

#bar.compost {
  background-color: var(--color-compost);
}

div#wordmark {
  padding-top: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-size: 2rem;
  text-align: center;
}
h1#title {
  font-weight: 600;
}

h1 #compost {
  color: var(--color-compost);
}

h1 #recycle {
  color: var(--color-recycle);
}

h2#subtitle {
  font-weight: 400;
}

h1#left-align {
  /* Which bins are near you? */
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 48px;
  text-align: left;
  max-width: 64vw;
  margin-top: 96px;
  margin-left: -18px;
  margin-bottom: 40px;
}
h2#left-align {
  /* Select the trash cans you have access to right now. */
  font-style: normal;
  font-weight: 450;
  font-size: 1.375rem;
  line-height: 26px;
  text-align: left;
  max-width: 79vw;
  margin-top: -30px;
  margin-left: -18px;
  color: #7F8B97;
}

span#top-right {
  /* Have the svg logo be on the same line as h1 */
  position: absolute;
  width: 60px;
  right: 8vw;
}
