:root {
  --font-sans: var(--font-inter), sans-serif;
  --color-black: #141414;
  --color-white: #f5f5f5;
  --color-compost: #00C774;
  --color-recycle: #2A88EC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.125rem;
  font-family: var(--font-sans);
}

@media (max-width: 700px) {
  body {
    margin: 40px 40px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  font-size: 1.125rem;
}

h1#title {
  margin-top: 150px;
  font-weight: 400;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  margin: 0.375em 0;
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  content: '>';
  margin-left: -2em;
}

ul ul > li::before {
  content: '>>';
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

input {
  padding: 0.5em;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}
/* recycle button  */
button {
  padding: 0.5em 1em;
  font-family: var(--font-sans);
  color: #141414;
  border: 3px solid #141414;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  background-color: #373535;
  transform: scale(0.95);
}

button.selected#trash {
  background-color: #14141499;
  color: #f5f5f5;
}

button#recycle {
  border-color: var(--color-recycle);
}

button#recycle:active {
  background-color: var(--color-recycle);
  transform: scale(0.95);
}

button.selected#recycle {
  background-color: #2A88EC99;
  color: #f5f5f5;
}

button#compost {
  border-color: var(--color-compost);
}

button#compost:active {
  background-color: var(--color-compost);
  transform: scale(0.95);
}

button.selected#compost {
  background-color: #00C77499;
  color: #f5f5f5;
}
