div#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button#recycle:active img {
  content: url('/svgs/ReceptacleSelector-Recycle-Active.svg');
}

button#compost:active img {
  content: url('/svgs/ReceptacleSelector-Compost-Active.svg');
}

button#trash:active img {
  content: url('/svgs/ReceptacleSelector-Trash-Active.svg');
}
