div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

div#row1 {
  justify-content: center;
  align-items: center;
}

div#row1 > button:first-child {
  padding-right: 20px;
}

div#row1 > button:last-child {
  padding-left: 20px;
}

div#row2 {
  justify-content: center;
  align-items: center;
}
