div#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#row1 {
  display: block;
  justify-content: center;
  align-items: center;
}
div#row2 {
  display: block;
  justify-content: center;
  align-items: center;
}
